/*html, body {
   height: 100%;
   margin: 0;
   padding: 0;
} */

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Homenaje', sans-serif;
}

a.brand-logo {
   font-size: 60px;
   font-family: 'Racing Sans One';
}

#modal1 {
  opacity: 0.5,
}

.tap-target {
  background-color: #26a69a;
}

.tap-target-content {
  color: #474747;
  font-size: 16px;
}

h5 {
  color: #fff;
}

#what {
  width: 300px;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper, .page-footer {
  background-color: #474747;
}

div.nav-wrapper {
  height: 110px;
  margin-bottom: 20px;
}

#row1 {
  /* margin-top: 60px; */
}

#map {
  /* margin: 30px 50px 50px 50px;*/
  height: 100%;
  /* margin: 20px; */
}

.card {
   margin-top: 20px;
}

/* .rating-form {
  font-size: 16px;
} */

#tacoRating {
  text-align: center;
}

.address {
  font-size: 14px;
}

a, #contact {
  color: #26a69a;
}

#map-div {
  /* margin-top: 20px; */
  margin-bottom: 60px;
}

.parallax-image {
  max-width: 100%;
  opacity: 0.6;
}

.parallax-container {
  height: 200px;
}

.page-footer {
  /* margin-top: 40px; */
  font-family: 'Oswald', sans-serif;
}

.d-flex {
  display: flex;
}

@media screen and (max-width: 768px) {
  .d-flex {
    display: initial;
  }
  div.nav-wrapper {
    height: 150px;
  }
}