/*html, body {
   height: 100%;
   margin: 0;
   padding: 0;
} */

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Jockey One', sans-serif;
}

a.brand-logo {
   font-size: 50px;
}

#modal1 {
  opacity: 0.5,
}

main {
   flex: 1 0 auto;
}

.nav-wrapper, .page-footer {
   background-color: #474747;
}

#map {
  /* margin: 30px 50px 50px 50px;*/
  height: 100%;
}

.card {
   margin-top: 20px;
}

#tacoRating {
   text-align: center;
}

.address {
   font-size: 14px;
}

.d-flex {
  display: flex;
}

@media screen and (max-width: 768px) {
  .d-flex {
    display: initial;
  }
}